@model Boo1.Models.korisnik

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>korisnik</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.idkorisnik)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.idkorisnik)
            @Html.ValidationMessageFor(model => model.idkorisnik)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ime)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ime)
            @Html.ValidationMessageFor(model => model.ime)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.prezime)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.prezime)
            @Html.ValidationMessageFor(model => model.prezime)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.email)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.email)
            @Html.ValidationMessageFor(model => model.email)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.username)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.username)
            @Html.ValidationMessageFor(model => model.username)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.password)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.password)
            @Html.ValidationMessageFor(model => model.password)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.profil)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.profil)
            @Html.ValidationMessageFor(model => model.profil)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.telefon)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.telefon)
            @Html.ValidationMessageFor(model => model.telefon)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.boraviste)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.boraviste)
            @Html.ValidationMessageFor(model => model.boraviste)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
